 /* Start Code for center position for navlinks*/
 @media (min-width: 768px) {

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        color: yellow;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
 /* End Code for center position for navlinks*/

.hr-red{
	max-width: 50px;
border-color:#F05F40;
border-width: 3px;
}
        
.hr-light{
	max-width: 100px;
border-color: white;
border-width: 3px;
}

#quote-b{}
.btn-first{border-radius: 300px;font-weight: 600;padding-left: 15px;padding-right: 15px;}
.btn{border:0px none;}

#codify{color:white;height:604px;padding-top: 100px;background:url("../../images/header.jpg");background-position: center;
  background-attachment: fixed;
  background-size: cover;}
#about{color:white;padding-top:40px;padding-bottom: 30px;background-color: #F05F40;background-position: center;
  background-attachment: fixed;
  background-size: cover;}
#courses{color:white;background:url("../../images/header.jpg");background-position: center;
  background-attachment: fixed;
  background-size: cover;padding-bottom: 30px;}
 #footer-2{background-color:#333}
#footer{background:url(../../images/header.jpg);background-position: center;
  background-attachment: fixed;
  background-size: cover; color:white;}

.heart{margin:0px 0px 0px ;color:white;text-align: center;padding-top: 15px;}
.social-icon{margin:-25px 10px 0px;color:white;text-align: right;}


.pulse {
    animation-name: pulse;}

#footer-2 span {
    animation-iteration-count: infinite;
    color: #FF5252;
}
.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;    

}
.whitehey{color:white;}

.row-m{margin-left: px;}
.img-box{width: 100%;height: 150px;border:2px red dotted;}*/
.cool-lg-4{border:2px red dotted;}
.img-margin{margin-top:20px;}


/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}